/*imagens retiradas do pixabay*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 228, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inicio img {
    display: block;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

header {
    background-color: rgb(5, 5, 59);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

header h1 {
    font-size: 25px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    color: rgb(141, 141, 214);
}

header form {
    display: flex;
    align-items: center;
    gap: 10px;
}

header input[type="search"] {
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
}

header button {
    padding: 6px 12px;
    background-color: rgb(74, 74, 126);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

header button:hover {
    background-color: rgb(48, 48, 102);
}

main h2 {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(216, 201, 201);
}

th {
    background-color: rgb(204, 202, 202);
}


.produto-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

@media (max-width: 600px) {
    .produto-img {
        max-width: 70px;
    }
}

#contato input,
textarea {
    border: 1px solid rgb(216, 202, 202);
    border-radius: 4px;
    padding: 6px;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;

}

#contato label {
    font-weight: bold;
}


#contato button {
    padding: 6px 12px;
    background-color: rgb(74, 74, 126);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

#contato button:hover {
    background-color: rgb(48, 48, 102);
}

footer {
    margin-top: 30px;
    background-color: rgb(5, 5, 59);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

footer ul {
    display: flex;
    font-weight: bold;
    list-style: none;
    gap: 15px;

}

footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}